header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f7f8f8;
  z-index: 100;
  #logo-home {
    &:hover {
      display: initial;
    }
  }
  a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
  .icon-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    .logo-img {
      max-width: 500px;
      @include single-column {
        max-width: 70%;
      }
    }
    .icon-images {
      width: 40px;
      float: right;
      line-height: 64px;
      @include single-column {
        line-height: 33px;
      }
    }
    .hidden-box {
      width: 40px;
      height: 40px;
    }
  }
  #mobile-menu {
    ul {
      margin-top: 10px;
      margin-bottom: 30px;
      li {
        display: block;
        width: 40%;
        margin: 0 auto -1px auto;
        line-height: 1.2;
        border-top: solid $pri_text 1px;
        border-bottom: solid $pri_text 1px;
        a {
          @include x-rem(font-size, 6.0);
          color: #000;
          font-family: 'Circular', sans-serif;
          letter-spacing: -1px;
          line-height: 1.5;
          font-weight: bold;
          @include single-column {
            @include x-rem(font-size, 2.8);
          }
          &:hover {
            color: #000;
            margin: 24px 0 14px 0;
            display:inline-block;
            line-height:0.7em;
            position: relative;
            border-bottom: 10px solid #ADD0A2;
            padding-bottom: 0px;
            text-decoration: none;
            @include single-column {
              margin: 12px 0 7px 0;
              border-bottom: 4px solid #ADD0A2;
            }
          }
        }
      }
    }
  }
}
