.home {
  .content-section {
    a.mini-toggler:hover {
      display: initial;
      line-height: initial;
      position: initial;
      border-bottom: none;
      padding-bottom: 0px;
      text-decoration: none;
    }
    img {
      display: block;
    }
    margin-top: 40px;
    .image-text {
      position: relative;
      p {
        margin: 0 auto;
        color: #fff;
        font-family: 'Circular';
        font-weight: bold;
        line-height: 1.2;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        @include x-rem(font-size, 6.0);
        letter-spacing: -1px;
        @include single-column {
          @include x-rem(font-size, 3.4);
        }
        @include single-column-smaller {
          @include x-rem(font-size, 2.8);
        }
        &.shadow {
          text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
          @include x-rem(font-size, 3.8);
          @include single-column {
            @include x-rem(font-size, 1.8);
          }
        }
      }
    }
    .main-link {
      border-bottom: none;
      display: block;
    }
    .sub-sites {
      width: 90%;
      margin: 30px auto 0 auto;
      text-align: left;
      border-bottom: 1px solid black;
      @include single-column {
        width: 100%;
      }
      .sub-link {
        display: block;
        width: 70%;
        margin: 0 auto;
        padding-top: 1px;
        padding-bottom: 1px;
        border-bottom: solid $pri_text 1px;
        border-top: solid $pri_text 1px;
        margin-bottom: -1px;
        text-align: center;
        color: $pri_text;
        font-weight: lighter;
        font-family: 'CircularCAPS', serif;
        @include x-rem(font-size, 2);
        @include single-column {
          @include x-rem(font-size, 2.8);
          width: 75%;
        }
      }
      .sub-content {
        margin: 30px auto;
        width: 100%;
      }
      .sub-terms {
        text-align: center;
        a {
          color: $pri_grey;
          border-bottom: none;
        }
      }
    }
    .sub-coworkers {
      margin: 30px 0 0 0;
      .gridder {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        font-size:0;
        .selectedItem {
          div {
            // span {
            //   display: none;
            // }
            &:after,
            &:before {
              bottom: -1px;
              // bottom: -68.4%;
              z-index: 10;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }
            &:after {
              border-color: rgba(255, 255, 255, 0);
              border-bottom-color: #F7F8F8;
              border-width: 10px;
              margin-left: -10px;
            }
            &:before {
              border-color: rgba(0, 0, 0, 0);
              border-bottom-color: #000;
              border-width: 11px;
              margin-left: -11px;
            }
          }
        }
        li {
          display: inline-block;
          vertical-align: top;
          @include rowMachine(3,1%);
          @include single-column {
            @include rowMachine(1,1%);
          }
          div {
            padding: 20px 0;
            position: relative;
            line-height: 1.8;
            letter-spacing: 0.8px;
            .coworkers-name,
            .coworkers-mobile {
              margin-bottom: 10px;
              text-transform: uppercase;
              font-family: 'Circular';
              color: $pri_text;
              @include x-rem(font-size, 1.2);
              line-height: 19px;
            }
            .coworkers-title,
            .coworkers-email,
            .coworkers-tel,
            .coworkers-linkedin a, {
              line-height: 19px;
              margin-bottom: 0;
              font-family: 'Circular';
              color: $pri_text;
              text-transform: uppercase;
              font-weight: normal;
              @include x-rem(font-size, 1.2);
            }
            span {
              font-family: 'Circular';
              color: $pri_grey;
              text-transform: uppercase;
              border-bottom: none;
              cursor: pointer;
              @include x-rem(font-size, 1.2);
            }
          }
        }
      }
      .coworkers-content {
        display: none;
      }
      .gridder-expanded-content {
        border-top: 1px solid #000;
        padding-top: 20px;
        padding-bottom: 20px;
        span {
          font-family: 'Circular';
        }
        p {
          max-width: 50%;
          margin: 0 auto 10px auto;
          text-align: center;
          font-family: 'Caslo';
          text-transform: none;
          color: $pri_text;
          @include single-column {
            max-width: 100%;
          }
        }
      }
    }
    .sub-contact {
      width: 100%;
      p {
        font-family: 'Circular';
        color: $pri_text;
        text-transform: uppercase;
        border-bottom: none;
        text-align: center;
        line-height: 1.8;
        letter-spacing: 0.8px;
        @include x-rem(font-size, 1.2);
      }
    }
    .border-bottom {
      display: block;
      border-bottom: 1px solid black;
      width: 75%;
      padding-bottom: 20px;
      margin: 0 auto;
    }
  }
}

#four {
  .contact-link:hover {
    display: initial;
    line-height: inherit;
    position: initial;
    border-bottom: none;
    padding-bottom: 0px;
    text-decoration: none;
  }
  .image-text p {
    margin: 0;
    position: initial;
    top: auto;
    left: auto;
    width: auto;
    transform: initial;
  }
  #contact-container .contact-meta,
  #contact-container .contact-title {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    p {
      color: #000;
      font-family: 'Circular';
      font-weight: bold;
      line-height: 1.2;
      @include x-rem(font-size, 2.2);
      @include single-column {
        @include x-rem(font-size, 1.8);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
      }
    }
    a {
      color: #000;
      font-family: 'Circular';
      font-weight: bold;
    }
  }
  #footer {
    &:hover {
      cursor: default;
    }
    margin-top: 30px;
    border-top: 2px solid #939598;
    padding-top: 30px;
    margin-bottom: 60px;
    .contact-footer {
      padding-bottom: 30px;
      p {
        color: $pri_grey;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0;
      }
      a {
        line-height: inherit;
        font-weight: bold;
        &:hover {
          line-height: inherit;
        }
      }
    }
  }
}