/* Welcome to fonts.scss - Here are rules that control your fonts.
Put your fonts in the fonts/ folder and add them accordingly here.
Remember to remove the slashes in front of the rows */

@charset "UTF-8";

/* Circular */
@font-face {
  font-family: 'Circular';
  font-weight: normal;
  font-style: normal;
  src:  url('fonts/CircularStd-Book.eot');
  src:  url('fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-Book.woff') format('woff'),
        url('fonts/CircularStd-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular';
  font-weight: bold;
  font-style: normal;
  src:  url('fonts/CircularStd-Medium.eot');
  src:  url('fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-Medium.woff') format('woff'),
        url('fonts/CircularStd-Medium.ttf') format('truetype');
}